[access]
	inheritFrom = Dev-ACL-Template
[project]
	state = active
[access "refs/*"]
	owner = group mso-dumper-admins
	read = group ReplicateFDO-contrib
	read = group ReplicateGithub
	create = group mso-dumper-admins
	push = +force group mso-dumper-admins
	pushMerge = group mso-dumper-admins
	pushTag = group mso-dumper-admins
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
